.container {
    width: 1280px;
    height: auto;
    margin: 60px auto 30px;
    font-family: Roboto, sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

.logo-link {
    text-decoration: none;
    font-size: 80px;
}

.logo-part-one{
    color: black;
}

.logo-part-two {
    color: #00BFFF;
}

.menu {
    height: 72px;
    width: 1280px;
    margin: 50px auto;
    color: white;
    background: #35444F;
    display: inline-block;
}

.menu-text {
    text-decoration: none;
    color: white;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 25px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu li:hover {
    border-color: white;
    background-color: #222F3A;
}


.block-menu {
    width: 345px;
    height: 400px;
    border: 1px solid #000000;
    display: inline-block;
}

.block-menu ul {
    padding: 0;
    margin: 0;
}
.block-menu li{
    list-style: none;
    font-size: 24px;
    overflow: hidden;
    width: 345px;
    height: 80px;
}


.block-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #495863;
    width: 100%;
    height: 100%;
    padding-left: 42px;
}

.block-text:hover {
    padding-left: 67px;
    background: #DBDBDB;
}

.picture {
    width: 885px;
    height: 530px;
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    margin-left: 42px;
}

.picture img {
    margin: auto;
    width: 320px;
    height: 381px;
    transition: 1s;
    padding: 75px 268px 73px 297px;
}

.picture img:hover {
     transform: scale(1.3);
}

.text-wrapper {
    width: 885px;
    float: right;
}

.text {
    font-size: 18px;
    line-height: 24px;
}

.text--one {
    height: 120px;
    margin: 52px 0 21px;
}

.text--two {
    height: 116px;
    margin: 42px 0 56px;
}

.footer  {
    height: 70px;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    display: inline-block;
}

.footer ul{
    padding-left: 42px;
    display: inline-block;
    height: 100%;
    margin: 0;
}

.footer-block {
    font-size: 24px;
    display: inline-block;
    height: 100%;
    margin-right: 30px;
}

.footer-block a{
    text-decoration: none;
    line-height: 70px;
    color: #0C1927;
    display: inline-block;
    height: 60px;  
}

.footer-block a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    float: right;
    width: auto;
    line-height: 70px;
    font-size: 24px;
    padding-right: 20px;
}
